
///*********************************************************************************
//*
//* ECXcx
//* Author: Zhu Fei
//* Email:  zhufei_13967158519@hotmail.com
//*
//*********************************************************************************/

ECXcx_AppIcon	ICON	"../../res/icons/ECXcx_Vid2Wav.ico"

#include "wx/msw/wx.rc"

